.leftbar {
	text-align: center;
	background: #bfaead;
	color: white;
}

.logo {
	width: 70%;
	border: 1px solid black;
	margin-bottom: 50px;
	margin-top: 15%;
}

.my-header {
	background: #424141;
	padding: 10px;
	font-weight: 300;
	margin: 10px;
	color: white;
	text-align: center;
}

.contact {
	text-align: left;
	margin: auto;
	display: inline-block;
	font-size: small;
}

.contact i {
	margin-right: 10px;
	font-size: large;
}

.top-header {
	background: #4b4b4b;
	color: white;
	text-align: center;
	padding: 60px;
}
.my-name {
	font-size: 100px;
	font-weight: 300;
}

.right-content {
	margin: 10px;
	margin-top: 20px;
}

.right-content p {
	line-height: 10px;
}
.project-content {
	margin: 20px;
}
.my-title {
	font-weight: 300;
}
